$clr-main: #185BA8;
$clr-black: #1E2227;
$clr-gray: #D2D3D4;
$clr-red: #A81832;
$clr-white: #fff;
$clr-gray-1: #E7E7E7;

//kenya flag colors
$clr-flag-black:#000;
$clr-flag-red:#BB0000;
$clr-flag-green:#006600;


//party color
$clr-azimio: #0B2357;
$clr-uda: #F1D100;
$clr-jubilee: #F62F3C;
$clr-odm: #FF9833;
$clr-wiper: #06ACEF;
$clr-anc: #6FB947;
$clr-narc: #6FB947;
$clr-dapk: #323894;
$clr-kanu: #F50518;
$clr-safina: #0AA758;
$clr-agano: #7B5BA4;
$clr-roots: #EB3C46;